################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TricksterEngine/v15
*Release
*Debug
*/x64
/.vs/TricksterEngine/v16
/LatestVersion