################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TricksterEngine/v15
/Release
/Debug
/x64
/TricksterEngine/x64
/TricksterEngine/Debug
/Game/x64/Debug
